
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>one page</title>
</head>
<body>
<center>
<h2>Addition</h2>
<form action="add/" method="get">
  <input type="number" name="num1" placeholder="enter number">
  <input type="number" name="num2" placeholder="enter the 2nd number">
  <input type="submit">

</form>
<br>
<br>
<h2>Substraction</h2>
<form action="add/" method="get">
    <input type="number" name="num1" placeholder="enter first number">
    <input type="number" name="num2" placeholder="enter second number">
    <input type="submit">
</form>
    </center>
<style>
    h2 {
        text-align:center;
        font-size:50px;
        }
    form {
        align-items:center;
        }
</style>

</body>
</html>